# Server
PORT=3020
NODE_ENV=development

# JWT
JWT_SECRET=your-secret
JWT_ACCESS_EXPIRES_IN=5m
JWT_REFRESH_EXPIRES_IN=14d

# Session
SESSION_EXPIRES_IN=1209600000

# Cookies
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
COOKIE_REFRESH_MAX_AGE=1209600000

# Database
DB_URL=mongodb://username:password@localhost:27017/db_name

# Admin seed
SEED_ADMIN_ON_START=true
ADMIN_EMAIL=admin@system.com
ADMIN_PASSWORD=adminPassword123